/* Colors */
/* boxes: #D3D0C9
    borders: #F0E2CE
    background: #F6F3E7 / white
    titles: #807E74
    paragraphs: #AFAD9F
*/

/*** Layout ****/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    /*background-color: #F6F3E7;*/
    
}

.main-header {
    position: fixed;
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    z-index: 100;
    top: 0;
    background-color: #F6F3E7;
    border-bottom: 1px #F0E2CE solid;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

/*.container-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}*/

.container-hero {
    position: relative;
    width: 100%;
    height: 100vh;
    margin-top: 6.5%; 
}

#hero-image {
    position: absolute;
    right: 0;
    top: 15%;
}

#box-decor-1 {
    position: absolute;
    height: 35em;
    width: 40em;
    left: 40em;
    top: 3em;
    background-color: #D3D0C9;
}

#box-decor-2 {
    position: absolute;
    height: 25em;
    width: 40em;
    left: -2em;
    top: 7.5em;
    border: 4px #807E74 solid;
}

.container-title {
    position: absolute;
    width: 30em;
    top: 33%;
    padding-left: 2em;
    color: #807E74;
}

#about {
    height: 100vh;
}

.container-about {
    width: 85%;
    height: 100vh;
    margin: auto;
}

.container-images {
    position: absolute;
    width: 30em;
    height: 40em;
    top: 60em;
    left: 6.5em;
    z-index: 30;
}

#box-decor-3 {
    position: absolute;
    width: 25em;
    height: 30em;
    top: 55em;
    left: 15em;
    background-color: #F0E2CE;
}

.mySlides {
    display: none;
    width: 100%;
    max-height: 20em;
    animation-name: fade;
    animation-duration: 2.5s;
    
}

@keyframes fade {
    100% {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }
}

#container-about-text {
    position: absolute;
    width: 30em;
    top: 62em;
    right: 7em;
}

.container-services {
    height: 100vh;
    border: 1px green solid;
}



/*** Navigation ***/
#navbar ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

#navbar li {
    margin-left: 2em;
}

#navbar a {
    text-decoration: none;
    color: #AFAD9F;
}

#navbar a:hover {
    border-bottom: 1px #D3D0C9 solid;
}


/* Typography */
h1 {
    color: #AFAD9F;
}

#hero-title {
    font-size: 3em;
}

#about-text {
    font-size: 2em;
    color: #AFAD9F;
    text-align: end;

}